parframe/examples/build-example_1-*
parframe/CMakeLists.txt.user
cubic_engine/CMakeLists.txt.user
cubic_engine/include/cubic_engine/base/version.h
cubic_engine/examples/exe27/doc/.ipynb_checkpoints/
cubic_engine/examples/exe28/doc/.ipynb_checkpoints/
cubic_engine/examples/exe19/doc/.ipynb_checkpoints/
cubic_engine/examples/exe25/doc/.ipynb_checkpoints/
cubic_engine/examples/exe26/doc/.ipynb_checkpoints/
cubic_engine/examples/exe30/doc/.ipynb_checkpoints/
cubic_engine/examples/exe32/doc/.ipynb_checkpoints/exe-checkpoint.ipynb/
